* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 35px;
    color: #047000;
}

html{
    height: 100%;
}

body {
    background: linear-gradient(#9aed97, #dcedd4);
}

.wrapper {
    width: 320px;
    height: 250px;
    margin: 150px auto 0;
}

#for_textarea {
    height: 100%;
    padding: 25px;
    border: 10px solid #59b259;
    background-color: #9feda3;
}

textarea {
    height: 100%;
    width: 100%;
    padding: 25px;
    outline: none;
    border: 10px solid #408d40;
    background-color: #c4edc6;
}