@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
    height: 100%;
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.ba-container, .ba-container-center {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body, html {
    min-height: 100%;
}

/* Text align */
.ba-text-left {
    text-align: left;
}

.ba-text-right {
    text-align: right;
}

.ba-text-center {
    text-align: center;
}

/* Floats */
.ba-float-left {
    float: left;
}

.ba-float-right {
    float: right;
}

.ba-float-none {
    float: none;
}

/* Vertical align */
.ba-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

[class*="ba-vertical-align-"] {
    display: inline-block;
}

.ba-vertical-align-top {
    vertical-align: top;
}

.ba-vertical-align-middle {
    vertical-align: middle;
}

.ba-vertical-align-bottom {
    vertical-align: bottom;
}

/* Absolute centering */
.ba-relative {
    position: relative;
}

.ba-absolute-center {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Circle element */
.ba-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.ba-container, .ba-container-center {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Text align */
.ba-text-left {
    text-align: left;
}

.ba-text-right {
    text-align: right;
}

.ba-text-center {
    text-align: center;
}

/* Floats */
.ba-float-left {
    float: left;
}

.ba-float-right {
    float: right;
}

.ba-float-none {
    float: none;
}

/* Vertical align */
.ba-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

[class*="ba-vertical-align-"] {
    display: inline-block;
}

.ba-vertical-align-top {
    vertical-align: top;
}

.ba-vertical-align-middle {
    vertical-align: middle;
}

.ba-vertical-align-bottom {
    vertical-align: bottom;
}

/* Absolute centering */
.ba-relative {
    position: relative;
}

.ba-absolute-center {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Circle element */
.ba-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*== Grid ==*/
/* Grid clearfix */
.ba-row:before, .ba-row:after {
    content: " ";
    display: table;
}

.ba-row:after {
    clear: both;
}

.ba-row + .ba-row {
    margin-top: 20px;
}

[class*="ba-width-"] {
    width: 100%;
}

.ba-row > [class*="ba-width-"] {
    float: left;
    padding-left: 20px;
}

.ba-row {
    margin-left: -20px;
}

/* No Padding Grid */
.ba-row-nopad {
    margin-left: 0;
}

.ba-row-nopad + .ba-row-nopad {
    margin-top: 0;
}

.ba-row-nopad > [class*="ba-width-"] {
    padding-left: 0;
}

.ba-width-1-2, .ba-width-2-4, .ba-width-3-6 {
    width: 50%;
}

.ba-width-1-3, .ba-width-2-6 {
    width: 33.333%;
}

.ba-width-2-3, .ba-width-4-6 {
    width: 66.667%;
}

.ba-width-1-4 {
    width: 25%;
}

.ba-width-3-4 {
    width: 75%;
}

.ba-width-1-5 {
    width: 20%;
}

.ba-width-2-5 {
    width: 40%;
}

.ba-width-3-5 {
    width: 60%;
}

.ba-width-4-5 {
    width: 80%;
}

.ba-width-1-6 {
    width: 16.667%;
}

.ba-width-5-6 {
    width: 83.333%;
}

.ba-width-1-7 {
    width: 14.2857%;
}

.ba-width-1-8 {
    width: 12.5%;
}

.ba-width-1-9 {
    width: 11.1111%;
}

.ba-width-1-10 {
    width: 10%;
}

/* Phone landscape and bigger */
@media (min-width: 480px) {
    .ba-float-left-small {
        float: left;
    }
    .ba-float-right-small {
        float: right;
    }
    /* Whole */
    .ba-width-small-1-1 {
        width: 100%;
    }
    /* Halves */
    .ba-width-small-1-2, .ba-width-small-2-4, .ba-width-small-3-6 {
        width: 50%;
    }
    /* Thirds */
    .ba-width-small-1-3, .ba-width-small-2-6 {
        width: 33.333%;
    }
    .ba-width-small-2-3, .ba-width-small-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .ba-width-small-1-4 {
        width: 25%;
    }
    .ba-width-small-3-4 {
        width: 75%;
    }
    /* Fifths */
    .ba-width-small-1-5 {
        width: 20%;
    }
    .ba-width-small-2-5 {
        width: 40%;
    }
    .ba-width-small-3-5 {
        width: 60%;
    }
    .ba-width-small-4-5 {
        width: 80%;
    }
}

/* Tablet and bigger */
@media (min-width: 768px) {
    .ba-float-left-medium {
        float: left;
    }
    .ba-float-right-medium {
        float: right;
    }
    /* Whole */
    .ba-width-medium-1-1 {
        width: 100%;
    }
    /* Halves */
    .ba-width-medium-1-2, .ba-width-medium-2-4, .ba-width-medium-3-6 {
        width: 50%;
    }
    /* Thirds */
    .ba-width-medium-1-3, .ba-width-medium-2-6 {
        width: 33.333%;
    }
    .ba-width-medium-2-3, .ba-width-medium-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .ba-width-medium-1-4 {
        width: 25%;
    }
    .ba-width-medium-3-4 {
        width: 75%;
    }
    /* Fifths */
    .ba-width-medium-1-5 {
        width: 20%;
    }
    .ba-width-medium-2-5 {
        width: 40%;
    }
    .ba-width-medium-3-5 {
        width: 60%;
    }
    .ba-width-medium-4-5 {
        width: 80%;
    }
}

/* Desktop and bigger */
@media (min-width: 960px) {
    .ba-float-left-large {
        float: left;
    }
    .ba-float-right-large {
        float: right;
    }
    /* Whole */
    .ba-width-large-1-1 {
        width: 100%;
    }
    /* Halves */
    .ba-width-large-1-2, .ba-width-large-2-4, .ba-width-large-3-6 {
        width: 50%;
    }
    /* Thirds */
    .ba-width-large-1-3, .ba-width-large-2-6 {
        width: 33.333%;
    }
    .ba-width-large-2-3, .ba-width-large-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .ba-width-large-1-4 {
        width: 25%;
    }
    .ba-width-large-3-4 {
        width: 75%;
    }
    /* Fifths */
    .ba-width-large-1-5 {
        width: 20%;
    }
    .ba-width-large-2-5 {
        width: 40%;
    }
    .ba-width-large-3-5 {
        width: 60%;
    }
    .ba-width-large-4-5 {
        width: 80%;
    }
}

@media (min-width: 1220px) {
    .ba-float-left-xlarge {
        float: left;
    }
    .ba-float-right-xlarge {
        float: right;
    }
    /* Whole */
    .ba-width-xlarge-1-1 {
        width: 100%;
    }
    /* Halves */
    .ba-width-xlarge-1-2, .ba-width-xlarge-2-4, .ba-width-xlarge-3-6 {
        width: 50%;
    }
    /* Thirds */
    .ba-width-xlarge-1-3, .ba-width-xlarge-2-6 {
        width: 33.333%;
    }
    .ba-width-xlarge-2-3, .ba-width-xlarge-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .ba-width-xlarge-1-4 {
        width: 25%;
    }
    .ba-width-xlarge-3-4 {
        width: 75%;
    }
    /* Fifths */
    .ba-width-xlarge-1-5 {
        width: 20%;
    }
    .ba-width-xlarge-2-5 {
        width: 40%;
    }
    .ba-width-xlarge-3-5 {
        width: 60%;
    }
    .ba-width-xlarge-4-5 {
        width: 80%;
    }
}

body {
    font: 300 16px/1.2 "Roboto", sans-serif;
    background: #003056 url("../img/816831.jpg") no-repeat;
    background-size: auto auto;
    color: #574d72;
}

.ba-playlist {
    background: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
    max-width: 400px;
    margin: 0 auto;
}

.ba-playlist__title {
    text-align: center;
    font-weight: 500;
    margin: 0 0 25px;
}

.ba-playlist__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ba-tune {
    border-top: 1px solid #e4e2e2;
    padding-top: 10px;
    margin-top: 10px;
}

.ba-tune__top {
    font-size: 80%;
    margin-bottom: 5px;
    color: #a4a3a9;
}

.ba-tune__duration {
    display: inline-block;
    padding-right: 10px;
    margin-right: 6px;
    border-right: 1px solid rgba(164, 163, 169, 0.6);
}

.ba-tune__author {
    text-transform: capitalize;
}

.ba-tune__song {
    font-weight: 500;
}

.ba-tune__song::first-letter {
    text-transform: uppercase;
}

.ba-tune__like {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    float: right;
    fill: #ed5e75;
    cursor: pointer;
}

.ba-tune__like:hover {
    fill: #574d72;
}

.ba-hidden {
    display: none;
}

/* Layout */
.ba-container {
    max-width: 1200px;
    padding: 50px 20px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
    -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
    -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
